.grid-container-createdoku {
    display: grid;
    grid-template-columns: 45% 45% 10%;
    justify-content: space-evenly;
}

.tbody-scroll {
    height:500px;
    overflow: scroll;
}

.button-group {
    height: 50%;
    margin-left:20px;
}

.button-group .btn {
    margin-bottom: 20px;
}