.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

/* .button-link {
    padding-top: 10px;
    text-align: center;
    
} */

.subbutton{
    width: 100%;
}
